.poster {
  display: inline-flex;
  box-shadow: 0 0 3px 2px #00000059;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  font-size: 22px;
}
.poster-review {
  display: inline-flex;
  box-shadow: 0 0 3px 2px #00000059;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  width: auto;
}