.upcoming h2 {
  font-size: 50px;
}

.pop-movies h2 {
  font-size: 50px;
}
.pop-tvshows h2 {
  font-size: 50px;
}

.airing-today h2 {
  font-size: 50px;
}

.watchlist h2 {
  font-size: 50px;
}

.reviews h2 {
  font-size: 50px;
}

.top-movies h2 {
  font-size: 50px;
}
.top-tvshows h2 {
  font-size: 50px;
}